a:hover {
  color: #ffffff;
}
// 涟漪效果
.btn-ripple {
  position: relative;
  display: inline-block;
  padding: 12px 36px;
  margin: 10px 0;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 40px;
  overflow: hidden;
  background: linear-gradient(90deg, #0162c8, #55e7fc);
  .btn-ripple--ripple {
    position: absolute;
    background: #ffffff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation-name: aniRipple;
    animation-duration: var(--duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes aniRipple {
    0% {
      width: 0;
      height: 0;
      opacity: 0.5;
    }
    100% {
      width: 500px;
      height: 500px;
      opacity: 0;
    }
  }
}

// 萤火虫效果
.btn-firefly {
  display: inline-block;
  width: 180px;
  height: 60px;
  position: relative;
  background: linear-gradient(to right, #6eb46e 10%,#55b455);
  border-radius: 40px;
  opacity: .88;
  cursor: pointer;
  transition: all 1s;
  color: transparent;
  .btn-firefly--text {
    line-height: 60px;
    text-align: center;
    font-size: 22px;
    color: #f5dd8f;
  }
  .btn-firefly--lightning {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%; 
    height: 80%;
    border-radius: 40px;
    transition: .8s;
    overflow: hidden;
    ul {
      list-style: none;
      opacity: 0;
      transition: .8s;
      li {
        position: absolute;
        bottom: 10%;
        width: 5px;
        height: 5px;
        background-color: #91fa91;
        border-radius: 50%;
        opacity: .6;
        animation: fireflymove infinite linear;
      }
    }
  }
  &:hover {
    box-shadow: 0 0 10px #b4ffb4;
    .btn-firefly--lightning {
      box-shadow: 0 0 4px #b4ffb4 inset;
      ul {
        opacity: .8;
      }
    }
  }
  @keyframes fireflymove {
    100% {
      bottom: 100%;
      opacity: .2;
    }
  }
}

//光效效果
.btn-lightingeffect {
  position: relative;
  display: inline-block;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  padding: 14px 50px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  &::before {
    --size: 0;
    content: "";
    position: absolute;
    /* 修改left和top值为js定义的css变量 */
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    /* 径向渐变，形状为圆形，取的半径为圆心到圆心最近的边的距离，开始颜色为 #a3b1f1, 结束颜色为透明（transparent）*/
    background: radial-gradient(circle closest-side, #a3b1f1, transparent);
    transform: translate(-50%, -50%);
    transition: all .2s ease, left 0%, top 0%;
  }
  &:hover::before {
    --size: 200px;
  }
}