a:hover, a:focus {
  color: #ffffff;
}
// 涟漪效果
.btn-ripple {
  position: relative;
  display: inline-block;
  padding: 12px 36px;
  margin: 10px 0;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 40px;
  overflow: hidden;
  background: linear-gradient(90deg, #0162c8, #55e7fc);
  .btn-ripple--ripple {
    position: absolute;
    background: #ffffff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation-name: aniRipple;
    animation-duration: var(--duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes aniRipple {
    0% {
      width: 0;
      height: 0;
      opacity: 0.5;
    }
    100% {
      width: 500px;
      height: 500px;
      opacity: 0;
    }
  }
}

// 萤火虫效果
.btn-firefly {
  display: inline-block;
  width: 180px;
  height: 60px;
  position: relative;
  background: linear-gradient(to right, #6eb46e 10%,#55b455);
  border-radius: 40px;
  opacity: .88;
  cursor: pointer;
  transition: all 1s;
  color: transparent;
  .btn-firefly--text {
    line-height: 60px;
    text-align: center;
    font-size: 22px;
    color: #f5dd8f;
  }
  .btn-firefly--lightning {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%; 
    height: 80%;
    border-radius: 40px;
    transition: .8s;
    overflow: hidden;
    ul {
      list-style: none;
      opacity: 0;
      transition: .8s;
      li {
        position: absolute;
        bottom: 10%;
        width: 5px;
        height: 5px;
        background-color: #91fa91;
        border-radius: 50%;
        opacity: .6;
        animation: fireflymove infinite linear;
      }
    }
  }
  &:hover {
    box-shadow: 0 0 10px #b4ffb4;
    .btn-firefly--lightning {
      box-shadow: 0 0 4px #b4ffb4 inset;
      ul {
        opacity: .8;
      }
    }
  }
  @keyframes fireflymove {
    100% {
      bottom: 100%;
      opacity: .2;
    }
  }
}

//光效效果
.btn-lightingeffect {
  position: relative;
  display: inline-block;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  padding: 14px 50px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  &::before {
    --size: 0;
    content: "";
    position: absolute;
    /* 修改left和top值为js定义的css变量 */
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    /* 径向渐变，形状为圆形，取的半径为圆心到圆心最近的边的距离，开始颜色为 #a3b1f1, 结束颜色为透明（transparent）*/
    background: radial-gradient(circle closest-side, #a3b1f1, transparent);
    transform: translate(-50%, -50%);
    transition: all .2s ease, left 0%, top 0%;
  }
  &:hover::before {
    --size: 200px;
  }
}

//流光炫彩效果
.btn-timecolor {
  position: relative;
  display: inline-block;
  width: 200px;  
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;  
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  &::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1 ;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: .5s;
  }
  &:hover {
    animation: timecolor 8s linear infinite;
    &::before {
      filter: blur(20px);
      opacity: 1;
      animation: timecolor 8s linear infinite;
    }
  }
  @keyframes timecolor {
    0% {
     background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
}

//悬浮线框效果 
.btn-wireframe {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: #353b48;
  border: 4px solid;
  color: #3498db;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  &::before, &::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background: #353b48;
    transform: skewX(50deg);
    transition: .4s linear;
  }
  &::before {
    top: -4px;
    left: 10%;
  }
  &::after {
    bottom: -4px;
    right: 10%;
  }
  &:hover {
    color: #3498db;
    &::before {
      left: 80%;
    }
    &::after {
      right: 80%;
    }
  }
}

// 按钮3D分层悬停效果
.layer-icons {
  display: inline-flex;
  height: 100px;
  place-items:center;
  a {
    position: relative;
    margin: 0 25px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    &:nth-child(1) {
      .layer {
        span {
          color: #4267B2;
          border-color: #4267B2;
        }
      }
      .text {
        color: #4267B2;
        border-color: #4267B2;
      }
    }
    &:nth-child(2) {
      .layer {
        span {
          color: #1DA1F2;
          border-color: #1DA1F2;
        }
      }
      .text {
        color: #1DA1F2;
        border-color: #1DA1F2;
      }
    }
    &:nth-child(3) {
      .layer {
        span {
          color: #E1306C;
          border-color: #E1306C;
        }
      }
      .text {
        color: #E1306C;
        border-color: #E1306C;
      }
    }
    .layer {
      width: 55px;
      height: 55px;
      transition: transform .3s;
      span.iconfont{
        font-size: 26px;
        line-height: 55px;
        text-align: center;
      }
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 55px;
        height: 55px;
        border: 1px solid #fff;
        border-radius: 5px;
        transition: all .3s;
      }
    }
    .text {
      position: absolute;
      left: 50%;
      bottom: -5px;
      opacity: 0;
      transform: translateX(-50%);
      transition: bottom .3s ease, opacity .3s ease;
    }

    &:hover {
      .layer {
        transform: rotate(-35deg) skew(20deg);
        span {
          &:nth-child(1) {
            opacity: .2;
          }
          &:nth-child(2) {
            opacity: .4;
            transform: translate(5px, -5px);
          }
          &:nth-child(3) {
            opacity: .6;
            transform: translate(10px, -10px);
          }
          &:nth-child(4) {
            opacity: .8;
            transform: translate(15px, -15px);
          }
          &:nth-child(5) {
            opacity: 1;
            transform: translate(15px, -15px);
          }
        }
      }
      .text {
        opacity: 1;
        bottom: -35px;
      }
      &:nth-child(1) {
        .layer {
          span {
            box-shadow: -1px 1px 3px #4267B2;
          }
        }
      }
      &:nth-child(2) {
        .layer {
          span {
            box-shadow: -1px 1px 3px #1DA1F2;
          }
        }
      }
      &:nth-child(3) {
        .layer {
          span {
            box-shadow: -1px 1px 3px #E1306C;
          }
        }
      }
    }
  }
}