<%- include('../templates/head') %>
<style>
  
</style>
<body>
  CSS3发光渐变加载器环动画效果
  <div style="background-color: #000000;padding: 60px;">
    <div class="loader"></div>  
  </div>
  <hr>

  <div class="box" style="background-color: #34495e;">
    <div class="loading">
      <span>Loading...</span>
    </div>
  </div>
  <hr>
  
  SVG快速加载程序动画效果
  <!-- SVG快速加载程序动画效果 -->
  <svg>
    <circle cx="70" cy="70" r="70"></circle>
  </svg>
  <%- include('../templates/foot') %>
</body>
<script>
 
  
</script>

</html>